@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400&display=swap");

body {
  text-align: center;
  background: #e96443; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #904e95,
    #e96443
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #904e95, #e96443);
  min-height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
}
